<html>
<body>
    <form action="/users/signup" method="post" >
    <input type="text" name="username" id="username" required placeholder="Username"><br>   
    <input type="email" name="email" id="email" required placeholder="email"><br> 
    <input type="password" name="password" id="password" required placeholder="password"><br> 
    <input type="phone" name="phone" id="phone" required placeholder="phone"><br> 
    <button type="submit">Submit</button>
    </form>
</body>
</html>